*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFC5C5;
}

ul{
    display: flex;
    margin-left: 150px;
    
}

li{
    list-style-type: none;
    padding-right: 30px;
    
}

ul li a {
    font-size: 15px;
}

ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ad79b5;
    display: flex;
    margin: auto;
    border-radius: 10px;
}

ul li:hover::after {
    width: 100%;
    transition: 0.7s;
}


header{
    height: 60px;
    display: flex;
    background-color: white;
    border-radius: 0 0 30px 30px;
    border-bottom: 5px solid #BB9CC0;
}

nav{
    margin-top: 20px;
    font-size: 20px;

}

.logo{
    font-style: italic;
    padding-left: 550px;
    font-size: 15px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #8fba68;
}

.shop {
    color: white;
    font-size: 40px;
    padding: 50px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h2 {
    flex: 1;
    margin-right: 20px;  
}

.title img {
    height: 400px;
    width: auto;
    border-radius: 15px 50px;
    margin-right: 100px;
}

.title button {
    background-color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
}
.title button:hover{
    background-color: #BB9CC0;
    box-shadow: 1px 1px 20px 3px #7070e8c7;
    border: 3px solid #7070e8c7;
    transition: 0.3s;
    
}
.img-two{
    border-radius: 150px 150px 0 0;
    margin-left: 4%;
    margin-top: 8%;
}
.offers{
    background-color:white;
    height: 370px;
    text-align: center;
}
.offers h1{
    font-size: 40px;
    padding-top: 40px;
}
.bx-one img{
    width: 100px;

}
.bx-one{
    margin-left: 250px;
    width: 400px;
    height: 100px;
    background-color: white;
    margin-top: 50px;
    display: flex;
}
.parent-bx{
    display: flex;
    margin-top: 40px;
}
.text-one{
    margin-left: 30px;
    margin-top: 20px;
}
.bx-two{
    margin-left: 55px;
    width: 400px;
    height: 100px;
    background-color: white;
    margin-top: 50px;
    display: flex;
}
.text-two{
    margin-left: 30px;
    margin-top: 20px;
}
.bx-three{
    margin-left: 20px;
    width: 400px;
    height: 100px;
    background-color: white;
    margin-top: 50px;
    display: flex;
}
.text-three{
    margin-left: 30px;
    margin-top: 20px;
}
.categories{
    background-color:rgb(232,222,213);
    height: 1000px;
}
.page-categories h1{
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
}
.parent-card{
    display: flex;
    margin-left: 0px;
    margin-top: 50px;
    text-align: center;
    color: whitesmoke;
}
.card-one{
    margin-left: 150px;
    width: 200px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.card-one img{
    border-radius: 20px;
}
.text-card-one{
    padding: 30px 20px;
    background-color: #BB9CC0;
    border-radius: 20px;
    
}
.card-one:hover{
    box-shadow: 0 8px 16px 0 rgb(179, 77, 96);
}
.card-two{
    margin-left: 50px;
    width: 190px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.card-two img{
    border-radius: 20px;
}
.text-card-two{
    padding: 30px 20px;
    background-color: #BB9CC0;
    border-radius: 20px;
}
.card-two:hover{
    box-shadow: 0 8px 16px 0 rgb(179, 77, 96);
}
.card-three{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.card-three img{
    border-radius: 20px;
}
.text-card-three{
    padding: 30px 20px;
    background-color: #BB9CC0;
    border-radius: 20px;
}
.card-three:hover{
    box-shadow: 0 8px 16px 0 rgb(179, 77, 96);
}
.card-four{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.card-four img{
    border-radius: 20px;
}
.text-card-four{
    padding: 30px 20px;
    background-color: #BB9CC0;
    border-radius: 20px;
}
.card-four:hover{
    box-shadow: 0 8px 16px 0 rgb(179, 77, 96);
}
.parent-card-two{
    display: flex;
    margin-top: 8%;
    margin-left: 20%;
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
}
.card-five{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.card-five img{
    border-radius: 20px;
}
.text-card-five{
    padding: 30px 20px;
    background-color: #BB9CC0;
    border-radius: 20px;
}
.card-five:hover{
    box-shadow: 0 8px 16px 0 rgb(179, 77, 96);
}
.card-six{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.card-six img{
    border-radius: 20px;
}
.text-card-six{
    padding: 30px 20px;
    background-color: #BB9CC0;
    border-radius: 20px;
}
.card-six:hover{
    box-shadow: 0 8px 16px 0 rgb(179, 77, 96);
}
.card-svn{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.card-svn img{
    border-radius: 20px;
}
.text-card-svn{
    padding: 30px 20px;
    background-color: #BB9CC0;
    border-radius: 20px;
}
.card-svn:hover{
    box-shadow: 0 8px 16px 0 rgb(179, 77, 96);
}
.last-page{
    background-color: white;
    height: 600px;
    display: flex;
}
.last img{
    margin-top: 10%;
    margin-left: 80px;
    border-radius: 15px 50px;
}
.text-last h1{
    color: black;
    font-size: 30px;
    margin-left: 10%;
}
.text-last p{ 
    width: 400px;
    color: black;
    font-size: 20px;
    margin-left: 10%;
    padding-top: 20px;
    font-family: serif;
}
.text-last{
    margin-top: 4%;
}
.text-last button{
    padding:10px 40px 10px 40px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: white;
}

.text-last button:hover{
    background-color: #BB9CC0;
}

.img-last {
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 15px 50px;
}

.img-last:hover {
    box-shadow: #194D27;
}



footer {
    background-color: black;
    padding: 80px;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
.footer-contents h4 {
    font-size: 20px;
}
.footer-contents p{
    margin: 20px 50px 20px 0px;
}
.footer-contents li {
    margin: 20px 50px 20px 0px;
    text-decoration: none;
    display: block;
}
.footer-contents a {
    text-decoration: none;
    color: white;
}
.logo-footer{
    margin-bottom: 40px;
}